<div class="wrapper bg-light" style="height: 100%">
  <!-- Sidebar -->
  <nav id="sidebar">
    <!--<div class="sidebar-header text-center card-header">-->
      <!--<h3>Menu</h3>-->
    <!--</div>-->


    <div class="card text-center">
      <div class="card-header">
        <h2>Menu</h2>
      </div>
      <ul class="list-group list-group-flush">
        <li routerLink="/home" class="list-group-item"><a>Home</a></li>
        <li routerLink="/members" class="list-group-item"><a>Members</a></li>
        <li routerLink="/category" class="list-group-item"><a>Category</a></li>
        <li routerLink="/balance" class="list-group-item"><a>Balance</a></li>
        <li routerLink="/expense" class="list-group-item"><a>Expense</a></li>
        <li routerLink="/summary" class="list-group-item"><a>Summary</a></li>
      </ul>
    </div>

  </nav>
  <!-- Page Content -->
</div>
