<div class="container bg-light">

  <div class="container-fluid">
      <div class="main-header">Expense</div>
    <div class="row">
      <div class="col-sm-3">
        <div class="card text-white bg-info">
          <div class="card-body">
            <i class="fa fa-shopping-cart" style="font-size: xx-large"></i>
            <h5 class="card-title">Bazar</h5>
            <h6 class="card-subtitle mb-2 text-muted">Total bazzar 12500</h6>
            <p class="card-text">All bazar and other expense for meal in this month</p>
            <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
            <!--<a href="#" class="card-link">Card link</a>-->
            <!--<a href="#" class="card-link">Another link</a>-->
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card text-white bg-success">
          <div class="card-body">
            <i class="fa fa-plus" style="font-size: xx-large"></i>
            <h5 class="card-title">House rent</h5>
            <h6 class="card-subtitle mb-2 text-muted">Rent 16450</h6>
            <p class="card-text">Total house rent in February, per person 2750</p>
            <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
            <!--<a href="#" class="card-link">Card link</a>-->
            <!--<a href="#" class="card-link">Another link</a>-->
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card text-white bg-warning">
          <div class="card-body">
            <i class="fa fa-plus" style="font-size: xx-large"></i>
            <h5 class="card-title">Utility</h5>
            <h6 class="card-subtitle mb-2 text-muted">Utility bill 1150</h6>
            <p class="card-text">Total Utility bill excluding internet bill</p>
            <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
            <!--<a href="#" class="card-link">Card link</a>-->
            <!--<a href="#" class="card-link">Another link</a>-->
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card text-white bg-dark">
          <div class="card-body">
            <i class="fa fa-internet-explorer" style="font-size: xx-large"></i>
            <h5 class="card-title">Net </h5>
            <h6 class="card-subtitle mb-2 text-muted">Internet bill 1200</h6>
            <p class="card-text">Internet bill 1200 in this month</p>
            <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
            <!--<a href="#" class="card-link">Card link</a>-->
            <!--<a href="#" class="card-link">Another link</a>-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid mt-4">
    <div class="main-header">Balance</div>
    <div class="row">
      <div class="col-sm-3">
        <div class="card text-white bg-info">
          <div class="card-body">
            <i class="fa fa-shopping-cart" style="font-size: xx-large"></i>
            <h5 class="card-title">Bazar</h5>
            <h6 class="card-subtitle mb-2 text-muted">Total bazzar 12500</h6>
            <p class="card-text">All bazar and other expense for meal in this month</p>
            <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
            <!--<a href="#" class="card-link">Card link</a>-->
            <!--<a href="#" class="card-link">Another link</a>-->
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card text-white bg-success">
          <div class="card-body">
            <i class="fa fa-plus" style="font-size: xx-large"></i>
            <h5 class="card-title">House rent</h5>
            <h6 class="card-subtitle mb-2 text-muted">Rent 16450</h6>
            <p class="card-text">Total house rent in February, per person 2750</p>
            <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
            <!--<a href="#" class="card-link">Card link</a>-->
            <!--<a href="#" class="card-link">Another link</a>-->
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card text-white bg-warning">
          <div class="card-body">
            <i class="fa fa-plus" style="font-size: xx-large"></i>
            <h5 class="card-title">Utility</h5>
            <h6 class="card-subtitle mb-2 text-muted">Utility bill 1150</h6>
            <p class="card-text">Total Utility bill excluding internet bill</p>
            <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
            <!--<a href="#" class="card-link">Card link</a>-->
            <!--<a href="#" class="card-link">Another link</a>-->
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card text-white bg-dark">
          <div class="card-body">
            <i class="fa fa-internet-explorer" style="font-size: xx-large"></i>
            <h5 class="card-title">Net </h5>
            <h6 class="card-subtitle mb-2 text-muted">Internet bill 1200</h6>
            <p class="card-text">Internet bill 1200 in this month</p>
            <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
            <!--<a href="#" class="card-link">Card link</a>-->
            <!--<a href="#" class="card-link">Another link</a>-->
          </div>
        </div>
      </div>
    </div>

  </div>


</div>
